---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-dispatch
spec:
  selector:
    matchLabels:
      app: hello-world-dispatch
  template:
    metadata:
      labels:
        app: hello-world-dispatch
    spec:
      containers:
      - image: "$({ .imageName })"
        name: hello-world-dispatch
        ports:
        - containerPort: 8080
