---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-dispatch
  namespace: hello-world
spec:
  selector:
    matchLabels:
      app: hello-world-dispatch
  template:
    metadata:
      labels:
        app: hello-world-dispatch
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/path: '/actuator/prometheus'
        prometheus.io/port: '8080'
        prometheus.io/scheme: 'http'
    spec:
      containers:
      - image: "$({ .imageName })"
        name: hello-world-dispatch
        ports:
        - containerPort: 8080
          name: web
